<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <title>The Pizza's Prince</title>
  </head>

  <body>
    <nav class="bg-white border-gray-200 py-2">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/" class="flex items-center">
          <img src="/img/logo22.jpg" class="h-8 mr-3" alt="img_Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >Pizza's Prince</span
          >
        </a>
        <span
          class="md:text-2xl sm:xl cursor-pointer md:hidden bg-gray-300 md:w-10 md:h-10 w-8 h-8 flex items-center justify-center rounded"
          aria-controls="navbar-default"
          ><i onclick="toggleMenu(this)" class="fa-solid fa-bars"></i
        ></span>
        <div
          class="nav-links duration-500 hidden w-full md:block md:w-auto"
          id="navbar-default"
        >
          <ul
            class="font-medium flex flex-col gap-4 p-3 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-100 md:flex-row  md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 font-medium"
          >
            <li class="ml-6"><a href="/">Menu</a></li>
            <% if(user) { %> <% if(user.role==="admin" ) { %>
            <li class="ml-6"><a href="/admin/orders">Orders Recieved</a></li>
            <li class="ml-6"><a href="/admin/menus">New Item</a></li>
            <li class="ml-6">
              <form id="logout" action="/logout" method="POST">
                <a onclick="document.getElementById('logout').submit()" href="#"
                  >Logout</a
                >
              </form>
            </li>
            <% } else{ %>
            <li class="ml-6"><a href="/customer/orders">My Orders</a></li>
            <li class="ml-6">
              <form id="logout" action="/logout" method="POST">
                <a onclick="document.getElementById('logout').submit()" href="#"
                  >Logout</a
                >
              </form>
            </li>
            <%} %> <% } else { %>
            <li class="ml-6"><a href="/register">Register</a></li>
            <li class="ml-6"><a href="/login">Login</a></li>
            <% } %>
            <li class="ml-6">
              <a
                href="/cart"
                class="cartLogo  inline-block px-4 py-2 rounded-full flex items-center"
              >
                <span id="cartCounter" class="text-white font-bold">
                  <%= session.cart ? session.cart.totalQty : '' %> </span
                ><i class="fa-solid fa-cart-shopping"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- body%>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script>
      const navLinks = document.querySelector(".nav-links");
      function toggleMenu(e) {
        e.classList.toggle("fa-bars");
        e.classList.toggle("fa-xmark");

        if (e.classList.contains("fa-xmark")) {
          navLinks.classList.remove("hidden");
          navLinks.classList.add("block");
          navLinks.classList.add("z-40")
        } else {
          navLinks.classList.remove("block");
          navLinks.classList.add("hidden");
        }
      }
    </script>

    <!-- <script src="/js/admin.js"></script> -->
  </body>
</html>
